<app-main-nav-bar></app-main-nav-bar>
<app-nav-bar></app-nav-bar>
<app-profile></app-profile>
  <div class="flex items-stretch ">
    <app-org-side-nav class="mr-10"></app-org-side-nav>
  
  <div class="container">
  
    <div class="mt-10 flex ">
      <div class="block">
        <h3 class=" text-lg font font-semibold mt">Joined on</h3>
        <a class="mt-4"href="ClientEmail">20-12-2022</a>
      </div>
      <div class="block ml-20">
        <h3 class=" text-lg font font-semibold mt">Authorization</h3>
        <a class="mt-4"href="ClientEmail">private</a>
      </div>
      
    
    </div>
    
    </div>
    </div>
