.container{
    padding-top: 20px;
    display: flex;
    font-size: large;
    font-weight: bold;
    margin-left: 50%;
    

}
.list-items{
    display: flex;
    font-size: large;
    font-weight: bold;

}
li{
    margin-right: 30px;
    text-decoration: none;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;
}
.primary-element{
    padding: 20px;
    color: #757575;
    font-weight: 500;

}
.nav-bar{
    background-color: rgb(201, 75, 25);
    height: 50px;
}


