  
<div [ngSwitch]="change">
    <div *ngIf="router.url ==='/organization' ">
        <app-main-page ></app-main-page>
    </div>

 

    
   
   <div *ngIf="router.url === '/profile' ">
    <app-main-profile></app-main-profile>
   </div>

   <div *ngIf="router.url === '/details' ">
   <app-details></app-details>
   </div>

   <div *ngIf="router.url === '/accounts' ">
    <app-account-details></app-account-details>
   </div>

   <div *ngIf="router.url === '/api-usages' ">
    <app-api-usages></app-api-usages>
    </div>

    <div *ngIf="router.url === '/my-subscription' ">
        <app-my-subscription></app-my-subscription>
    </div>

   <div *ngIf="router.url === '/client-details' ">
    <app-client-details></app-client-details>
   </div>

   <div *ngIf="router.url === '/org-details' ">
    <app-org-accounts></app-org-accounts>
   </div>

    <div *ngIf="router.url === '/api-details' ">
    <app-api-details></app-api-details>
    </div>

    <div *ngIf="router.url === '/settings' ">
        <app-settings></app-settings>
    </div>



   


   



   
   

  
  <!-- <div  *ngIf="router.url === '/details' || '/accounts' || '/api-usages' || '/my-subscription'" >
    <div >
        <app-main-nav-bar></app-main-nav-bar>
        <app-nav-bar></app-nav-bar>
        <app-profile></app-profile>
    
    <div class="flex items-stretch ">
        <app-side-nav class="mr-10"></app-side-nav>
        <app-profile-card class="w-full h-full mt-10"></app-profile-card>
    </div>
    </div>
   </div> -->

</div>







   <!-- <div *ngSwitchCase="'organization'">
        <app-main-page ></app-main-page>
        
    </div>
 -->

<!-- below for profile comp including details etc-->

  <!-- <div  *ngSwitchCase="'profile'" >
    <div >
        <app-main-nav-bar></app-main-nav-bar>
        <app-nav-bar></app-nav-bar>
        <app-profile></app-profile>
    
    <div class="flex items-stretch ">
        <app-side-nav class="mr-10"></app-side-nav>
        <app-profile-card class="w-full h-full mt-10"></app-profile-card>
    </div>
    </div> 
   </div> -->