

<div *ngIf="router.url ==='/organization'" >
    <div >
        <app-main-nav-bar></app-main-nav-bar>
        <app-nav-bar></app-nav-bar>
        <app-profile></app-profile>
    
    <div class="flex items-stretch ">
        
        <app-org-side-nav class="mr-10"></app-org-side-nav>
        <!-- <app-profile-card class="w-full h-full mt-10"></app-profile-card> -->
        <div>
            <h1>Welcome Admin!</h1>
            <br>
            <p>we are happy to have you here :)</p>
        </div>
    </div>
    </div>
    </div>


    <!-- <h1>organization</h1> -->

