
<app-main-nav-bar></app-main-nav-bar>
<app-nav-bar></app-nav-bar>
<app-profile></app-profile>

<div class="flex items-stretch ">
  <app-side-nav class="mr-10"></app-side-nav>
<div class="slds-p-top--medium">
<figure class="pie-chart">
    <h4>Client API usages</h4>
    <figcaption>
      Persebaya 48<span style="color: #59a14f"></span><br>
      Persija 29<span style="color: #f28e2c"></span><br>
      Persib 14<span style="color: #4e79a7"></span><br>
      Madura United 7<span style="color: #e15759"></span><br>
      Persenga 2<span style="color: #edc949"></span>
    </figcaption>
    <cite>Based on usage records</cite>
  </figure>
</div>
</div>




